.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0A111B;
  width: 100%;
  min-height: 150px;
}

.footer p {
  color: #f2f2f2;
  text-align: center;
  font-size: small;
  margin: 0;
}