.header {
  background-color: #282a36;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
}

.header nav {
  margin-left: 20px;
  width: 80%;
}

.header a {
  color: #fafafa;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: .2s linear;
  margin-left: 20px;
}

.header a:hover {
  color: #d863bb;
  border-color: #d863bb;
}

.header .contact {
  color: #fafafa;
  background: #ffa23f;
  margin-right: 20px;
  padding: 10px 15px;
  display: inline-block;  
  text-align: center;
  border-radius: 5px;
  border: 0;
}

.contact:hover {
  color: #fafafa !important;
  background: rgba(255, 162, 63, 0.8);
}