.header {
  background-color: #282a36;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  height: 80px;
}

.header nav {
  margin-left: 50px;
}

.header a {
  color: #fafafa;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: .2s linear;
  margin-left: 20px;
}

.header a:hover {
  color: #d863bb;
  border-color: #d863bb;
}

