.form input, textarea, select {
  display: block;
  width: 40%;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px 10px;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: none;
}