.input {
  display: block;
  width: 40%;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 10px;
  border-radius: 4px;
  background-color: #f1f1f1;
  border: none;
}

.button {
  background-color:#31435B !important;
  color: #f2f2f2;
}

.button:hover {
  background-color: #0f1c2c !important;
}