.contentRepositories{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
  column-gap: 5vw;
  width: 70vw;
}

.card {
  width: 100%;
  border: 2px solid #bd93f9;
  border-radius: 4px;
  background-color: #383a59;
  color: #f8f8f2;
  padding: 10px 20px;
  margin-bottom: 20px;
  height: 250px;
}

.card h3 {
  color: #f1fa8c;
}


.card a{
  color:#ff79c6;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: .2s linear;
}
.card a:hover {
  color: #d863bb;
  border-color: #d863bb;
}